<ion-view view-title="Game" class="backgroundImage">
<style>
</style>
  <ion-content class="centerAlign">
  	<div id="friend" class="row">

			<div class="container col">
				<p>Allied Forces</p>
			</div>
  		
  		<div class="container col-30">
					<div id="friend-progress"></div>
			</div>
		
  	</div>
		
		<div class="container">

				<div class="word" ng-repeat="word in vm.phrase track by $index">
					<span class="character" style="padding-top:5px; text-decoration: underline;" ng-repeat="char in word track by $index">{{ vm.phrase[$parent.$index][$index].model }}</span>
				</div>
			
		</div>
		
		<div class="container">
				<button class="button button-positive fullWidth" ng-click="vm.reveal()">Solve Puzzle</button>
		</div>
	
  
		<div id="enemy" class="row">
  		<div class="container col">
				<p>Enemy Forces</p>
			</div>
  		
  		<div class="container col-30">
					<div id="enemy-progress" style="width:30px; height:100px;"></div>
			</div>
  	</div>
  </ion-content>
</ion-view>