<ion-view view-title="Game">
<style>
</style>
  <ion-content>
  	<div id="friend" class="row">
  		<h2>Allied Forces</h2>
  		<div id="friend-progress"></div>
  	</div>
  	<div class="word" ng-repeat="word in vm.phrase track by $index">
  		<input class="character" ng-repeat="char in word track by $index" value="*" ng-model="vm.answer[$parent.$index][$index]" ng-disabled="true">
  	</div>
  	<div id="enemy">
  		<h2>Enemy Forces</h2>
  		<div id="enemy-progress"></div>
  	</div>
  </ion-content>
</ion-view>