<ion-view view-title="Wheel of Fitness" class="backgroundImage">
<style>
</style>
  <ion-content class="centerAlign">
  
  	<div id="friend" class="row padding">

			<div class="container col leftAlign">
				<p class="strong opacity">Your Progress:</p>
				<hr class="opacity margin" />
				<p class="steps"><i class="icon ion-android-walk"></i> Steps taken : 200</p>
				<p class="stairs"><i class="icon ion-connection-bars"></i> Flights of Stairs climbed : 14</p>
				<p class="time"><i class="icon ion-android-time"></i> Time Remaining : 20 min</p>
			</div>
  		
  		<div class="container col-30">
					<div id="friend-progress"></div>
			</div>
		
  	</div>
		
		<div class="container">
			<div style="padding:20px; text-align: left;">
				<label style="opacity: 0.6;">Solve the phrase displayed below to win the game. Click 'Solve The Puzzle' button when you are ready to make a guess.</label>
			</div>
				<div class="word" ng-repeat="word in vm.phrase track by $index">
					<span class="character" ng-repeat="char in word track by $index">{{ vm.phrase[$parent.$index][$index].model }}</span>
				</div>

			<div style="padding:20px;">
				<label style="opacity: 0.5;">Hint: Things in Spain</label>
			</div>

			<button class="button button-dark fullWidth" ng-click="vm.reveal()">Solve The Puzzle</button>
	
		</div>
  
		<div id="enemy" class="row">
  		<div class="container col">
				<p>Enemy Forces</p>
			</div>
  		
  		<div class="container col-30">
					<div id="enemy-progress" style="width:30px; height:100px;"></div>
			</div>
  	</div>
  </ion-content>
</ion-view>