/* Empty. Add your own CSS if you like */

.backgroundImage{
   background: url(../img/background.jpg);
    background-size: cover;
    background-color: black;
    color: white;
}
h1{
    color: #FFF ;
}
body{
    color: #FFF ;
}
.steps{
    color: #2DB1E4;
}
.stairs{
    color: #9CCA13;
}
.time{
    color: #cf2583;
}
.nav-bar-block, .bar {
  background-color: #eee ;
}
.character {
	font-size: 30px;
	font-family: monospace;
	margin-left:3px;
	margin-right:3px;
    padding-top:5px; 
    text-decoration: underline;
}
.popup-input {
	font-family: monospace;
	text-align: center;
	text-transform: uppercase;
	background-color: #000;
	border: 1.5px solid #2a94cb;
	color: #fff;
}
.popup {
	width: 100% !important;
	background-color: #000 !important;
	border: 1.5px solid #2a94cb;
}
.popup-head h3 {
	color: #fff !important;
}
.space {
	display: inline-block;
	width: 10px;
}
.margin{
    margin-bottom:10px;
    margin-top:10px;
}
.word {
	display: inline-block;
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.progress-container {
	
}
.container{
    background-color: #000;
    padding:8px;
    border: 1.5px solid #2a94cb;
    border-radius: 6px;
    color: #fff;
    margin:4px;
    opacity:1;
}
.fullWidth{
    width: 100%;
}
.halfWidth{
    width:49%;
}
.marginAuto{
    margin: auto;
}

.centerAlign{
    text-align: center;

}
.leftAlign{
    text-align: left;
}
.padding{
    padding:20px;
}
.margin-10{
    margin:10px;
}
.strong{
    font-weight: bold;
}
.opacity{
    opacity: 0.7;
}
.font-16{
    font-size: 16px;
}