/* Empty. Add your own CSS if you like */

.backgroundImage{
   background: url(../img/background.jpg);
    background-size: cover;
    background-color: black;
    color: white;
}
h1{
    color: #FFF ;
}
body{
    color: #FFF ;
}
.nav-bar-block, .bar {
  background-color: #eee ;
}
.character {
	font-size: 30px;
	font-family: monospace;
	margin-left:3px;
	margin-right:3px;
}
.test {
	font-size: 35px;
	font-family: monospace;
	display: inline-block;
}
.space {
	display: inline-block;
	width: 10px;
}
.word {
	display: inline-block;
	margin-right: 20px;
	margin-top: 10px;
	margin-top: 10px;
}
.progress-container {
	
}
.container{
    background-color: #fff;
    padding:8px;
    border: 2px solid #004aa1;
    border-radius: 6px;
    color: #000;
    margin:5px;
    opacity:0.98;
}
.fullWidth{
    width: 100%;
}
.marginAuto{
    margin: auto;
}
.centerAlign{
    text-align: center;

}
.padding{
    padding:20px;
}
.margin-10{
    margin:10px;
}