/* Empty. Add your own CSS if you like */

.backgroundImage{
   background: url(../img/background.jpg);
    background-size: cover;
    background-color: black;
    color: white;
}
h1{
    color: #FFF ;
}
body{
    color: #FFF ;
}
.nav-bar-block, .bar {
  background-color: #eee ;
}
.character {
	font-size: 15px;
	width: 20px;
	text-align: center;
}
.word {
	display: inline-block;
	margin-right: 20px;
	margin-top: 10px;
	margin-top: 10px;
}
.progress-container {
	
}
