/* Empty. Add your own CSS if you like */

.backgroundImage{
   background: url(../img/background.jpg);
    background-size: cover;
    background-color: black;
    color: white;
}
h1{
    color: #FFF ;
    font-size:18px;
}
body{
    color: #FFF ;
}
ion-header-bar {
    background: url(../img/background.jpg) !important;
}
ion-header-bar .title {
    color: white !important;
}
ion-header-bar button {
    color: white !important;
}
.custom-background {
    background: url(../img/background.jpg) !important;
}
.custom-background .item a {
    background-color: #000;
    color: #fff;
}
.custom-background .item {
    background-color: #000;
    color: #fff;
}
.steps{
    color: #2DB1E4;
}
.stairs{
    color: #9CCA13;
}
.time{
    color: #cf2583;
}
.nav-bar-block, .bar {
  background-color: #eee ;
}
.character {
	font-size: 18px;
	font-family: monospace;
	margin-left:3px;
	margin-right:3px;
    padding-top:5px; 
    text-decoration: underline;
}
.popup-input {
	font-family: monospace;
	text-align: center;
	text-transform: uppercase;
	background-color: #000;
	border: 1.5px solid #2a94cb;
	color: #fff;
}
.popup {
	width: 90% !important;
    margin-bottom:80%;
  

	background-color: #000 !important;
	border: 1.5px solid #2a94cb;
}
.popup-body {
    font-size: 15px;
}
.stat-item {
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    font-size: 14px;
}
.activity-item {
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 14px;
}
.activity-note {
    float: right;
}
.item-note {
    color: #fff;
    font-size: 14px;
}
 .icon{
     font-size: 16px !important;
 }
.stat-break {
    border-color: #2a94cb;
}
.popup-head h3 {
	color: #fff !important;
}
.space {
	display: inline-block;
	width: 10px;
}
.margin{
    margin-bottom:10px;
    margin-top:10px;
}
.word {
	display: inline-block;
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.progress-container {
	
}
.container{
    background-color: #000;
    padding:8px;
    border: 1.5px solid #2a94cb;
    border-radius: 6px;
    color: #fff;
    margin:4px;
    opacity:1;
}
.fullWidth{
    width: 100%;
}
.halfWidth{
    width:49%;
}
.marginAuto{
    margin: auto;
}

.centerAlign{
    text-align: center;

}
.leftAlign{
    text-align: left;
}
.padding{
    padding:20px;
}
.margin-10{
    margin:10px;
}
.strong{
    font-weight: bold;
}
.opacity{
    opacity: 0.6;
}
.font-14{
    font-size: 14px;
}