<ion-view class="backgroundImage" view-title="Home">

  <ion-content>
    <div class="centerAlign padding">
     
     <div class="container">
       
           <button class="button margin fullWidth button-dark" ng-show="!vm.data.activeGame" ng-click="vm.loadNewGame(long)">Start New Game</button>
   
          <button class="button margin fullWidth button-positive" ng-show="vm.data.activeGame" ng-click="vm.continueGame()">Continue Game</button>
   
     </div>
       
      
    </div>
       
  </ion-content>
</ion-view>
