<ion-view class="backgroundImage" view-title="Home" hide-back-button="true">

  <ion-content>
       <ion-refresher
	    	pulling-text="Pull to refresh..."
	    	on-refresh="vm.refreshData()">
	    </ion-refresher>

    <div class="centerAlign padding">

     <div class="margin"></div>

        <div class="container leftAlign">
       <p class="strong opacity">Overall Score:</p>
          <div class="list">
            	<span class="item item-icon-left activity-item wins"><i class="icon ion-trophy"></i> Total Right Answers <span class="activity-note">{{vm.fitbitData.rightAnswers}}</span></span>
				    	<span class="item item-icon-left activity-item losses"><i class="icon ion-thumbsdown"></i> Total Wrong Guesses <span class="activity-note">{{vm.fitbitData.wrongAnswers}}</span></span>
        </div>
        
     </div>

     		<div class="container leftAlign font-16">
				
		 		<p class="strong opacity">Today's Progress:</p>
				
				<div class="list">
				
					<span class="item item-icon-left activity-item steps"><i class="icon ion-android-walk"></i> Steps Walked <span class="activity-note">{{vm.fitbitData.summary.steps}} / {{vm.fitbitData.goals.steps}}</span></span>
					<span class="item item-icon-left activity-item stairs"><i class="icon ion-connection-bars"></i> Floors Climbed <span class="activity-note">{{vm.fitbitData.summary.floors}} / {{vm.fitbitData.goals.floors}}</span></span>
					<span class="item item-icon-left activity-item time"><i class="icon ion-android-time"></i> Hours Spent <span class="activity-note">{{vm.fitbitData.time}} / 24</span></span>
				</div>

          <label class="opacity">Walking reveals consonants and climbing stairs reveals vowels. You must solve the puzzle before midnight in order to win the game!</label>
    	</div>
  	
      <div class="container">
       
           <button class="button margin fullWidth button-dark" ng-show="!vm.data.activeGame" ng-click="vm.loadNewGame(long)">Start New Game</button>
   
          <button class="button margin fullWidth button-positive" ng-show="vm.data.activeGame" ng-click="vm.continueGame()">Continue Game</button>
   
     </div>
       
      
    </div>
       
  </ion-content>
</ion-view>
