<ion-view class="backgroundImage" view-title="Home">

  <ion-content>
    <div class="centerAlign padding">

     <div class="margin"></div>

     		<div class="container leftAlign font-16">
				
		  		<p class="strong opacity">Today's Progress:</p>
				
				
			  	<p class="steps"><i class="icon ion-android-walk"></i> Steps Walked: {{vm.fitbitData.steps}} / {{vm.fitbitData.goals.steps}}</p>
			  	<p class="stairs"><i class="icon ion-connection-bars"></i> Floors Climbed: {{vm.fitbitData.floors}} / {{vm.fitbitData.goals.floors}}</p>
			  	<p class="time"><i class="icon ion-android-time"></i> Hours Spent: {{vm.fitbitData.time}} / 24</p>
		
          <label class="opacity">Walking reveals consonants and climbing stairs reveals vowels. You must solve the puzzle before midnight in order to win the game!</label>
    	</div>
  	
      <div class="container">
       
           <button class="button margin fullWidth button-dark" ng-show="!vm.data.activeGame" ng-click="vm.loadNewGame(long)">Start New Game</button>
   
          <button class="button margin fullWidth button-positive" ng-show="vm.data.activeGame" ng-click="vm.continueGame()">Continue Game</button>
   
     </div>
       
      
    </div>
       
  </ion-content>
</ion-view>
